<div>
    <img src="/public/images/forum/A22.png" class="img-responsive">
</div>
<nav class="navbar bg-info">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/forum" style="font-size: 24px; padding-right: 25px;">活动论坛</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="forum-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">产品 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">教具</a></li>
                <li><a href="#">项目</a></li>
                <li><a href="#">软件</a></li>
                <li><a href="#">其他</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group forum-group">
                    <input type="text" class="forum-soso" placeholder="话题、问题">
                    <span></span>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>